* {
  /* margin: 0px;
  padding: 0px;

  border: 1px outset red;
  */

  font-family:Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;

}

.first {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.cake_principal {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.mini_form {
  display: flex;
  flex-direction: column;
}

.cake_rate {
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow-y: scroll;
  margin-left: 20px;
}


.table{
  display: flex;
  flex-direction: row;
   align-content:flex-start;
  width: 600px;

}

.cake_rate_input {
  display: flex;
  flex-direction: column;
  width: 80%;

}

.img_cake_preview {
  width: 200px;
  cursor: pointer;
}

.img_cake_normal {
  width: 400px;
}

.second {
  display: flex;
  flex-direction: row;
}

.labels_rate{
  display: flex;
  flex-direction: column;
  margin-top: 125px;
}

.btn_submit{
    color: white;
    background-color: rgb(32, 161, 178);
    width: 100px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
}


.btn_rate{
  color: white;
  background-color: gray;
  width: 80px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

.content_img{
  display: flex;
  flex-direction: column;
  border: 1px solid rebeccapurple;
}

/* Estilos Formulario Detalle */
.second {
  display: flex;
  flex-direction: row;
}

.labels_rate{
  display: flex;
  flex-direction: column;
  margin-top: 125px;
  margin-left: 10px;
}
