<main class="container">

  <section class="first">

    <section class="cake_principal">
      <h1>Rate my cakes</h1>
      <form class="mini_form" [formGroup]="formCake" (ngSubmit)="newCake()">
        <div class="mini_form">
          <span>Submit a cake to be rated</span>
          <hr>
          <span>Braker name:</span>
          <input type="text" name="name"  formControlName="name">
          <span>Image url:</span>
          <input type="text" name="urlImg" formControlName="urlImg">
        </div>
        <input class="btn_submit" type="submit" value= "SUBMIT"/>

      </form>
    </section>

    <div class="cake_rate">
      <table *ngIf="showAll">
        <tr *ngFor="let cake of listCakes">
          <button (click)="findOne(cake._id)"> <img class="img_cake_preview" src="{{cake.urlImg}}" alt="Cake img"> </button>
          <td>
            <form class="form2" [formGroup]="formComment" (ngSubmit)="saveRateCakes(cake._id)">
              <select name="rate" id="rate" formControlName="rate" class="select-form2">
                <option value=1 [defaultSelected]=1>1 stars</option>
                <option value=2>2 stars</option>
                <option value=3>3 stars</option>
                <option value=4>4 stars</option>
                <option value=5>5 stars</option>

              </select>

              <textarea rows="5" cols="10" name="comment" placeholder="Type your comments here"
                formControlName="comment"></textarea>
              <input class="btn_rate" type="submit" value="Rate" />
            </form>
          </td>
        </tr>
      </table>
    </div>

  </section>


  <!-- DETALLE PASTEL -->

  <section class="second">

    <table class="comentario" *ngIf="showDetail">
      <h3>Backed</h3>
      <tr *ngFor="let detail_info of dateSearchOne.rateCake">
        <div class="formFinal">
          <section class="labels_rate">
            <p> {{detail_info.nombrePastelero}} </p>
            <!-- <td>Average rating : {{promedio}} stars</td><br> -->
            <td>{{detail_info.comment}}</td><br>
            <td>{{detail_info.rate}} stars</td><br><br>
          </section>
        </div>
      </tr>
    </table>
  </section>


</main>

<!--
<app-rate-cake-detail></app-rate-cake-detail> -->

<router-outlet></router-outlet>

 <!-- {{ listCakes | json}} -->
